/* styling index.html */
#index{
    background-color: black;
}
/*styling header in index.html*/
.index-heading{    
    background-image: repeating-linear-gradient(rgb(0, 0, 0),rgb(0, 102, 0) 10%,rgb(153, 204, 0) 20%);
    height:10vh;
}
.tian-image{
    background-image: url('img/Tian.png');
}
/* styling home.html*/
.home-header {
    background-color:black;
    color:greenyellow;
}
/* styling image grid on home page */
.my-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* create two equal columns that sit next to each other */
  .my-column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .my-column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  /* styling parallax image */
.parallax{
    background-image: url('img/Tian.png');
    background-size:cover;
    height:60vh;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
}
.tagline{
    padding:15px 40px;
    border-radius:10px;
    color:rgb(173, 255, 47);
    background-color: rgba(0,0,0,0.4);
}
.cta {
    position: relative;
    padding: 250px 0;
    background-image: url('img/Tian.png');    
    background-position: center;
    background-size: cover;
}
.cta .cta-content {
    position: relative;
    z-index: 1;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* special links on homepage */
.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.features-icons .features-icons-item {
    max-width: 20rem;
    height: 7rem;
}
.text-desc {
    color:white;
    background-color:black;
    font-size:1rem;
    padding:1rem;
    margin:1rem;
    border-radius:5%;
}
.image-thumbnail {
    height:13rem;
    border-radius: 50%;
    padding:1rem;
}
.spl-link{
    color:rgb(5, 5, 5);
    background-color:black;
    font-weight:bold;
}
.spl-link:hover{
    color:black;
    background-color:rgb(173, 255, 47);
    font-weight:bold;
}
/* styling company tagline on index page */
.tagline1{
    background-color: rgba(0,0,0,0.5);
    color:rgb(173, 255, 47);
    padding:15px 40px;
    border-radius:10px;
    font-size:2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
/* display company slogan on top of homepage */
.display-tagline{
    background-color: rgb(0, 0, 0);
    color:greenyellow;
    height:6rem;
    font-size:1.2rem;
    font-family:Helvetica ; 
    line-height: 6rem;
    padding-top:2rem;
    align-content: center;
    padding-left:0.5rem;
    padding-right:0.5rem;
    border-radius: 5%;
}
/* styling navigation bar*/
.my-nav{
    background-color:rgb(205, 248, 106); 
}
.nav-link{
     color: rgb(0, 0, 0);
     font-family:Helvetica;
     font-weight: bold;
}
.nav-link:hover{
     color: darkgreen;
     background-color: rgb(231, 255, 187);
     font-weight: bold;
}
.nav-link:active{
     color: rgb(10, 47, 56);
}

/* styling each section */
.new-section {
  background-color: rgb(205, 248, 106);
  color: black;
  border-top:2rem solid black;
  border-bottom:2rem solid black;
}
.section-aboutUs{
    background-image: url('img/Thomas_aboutUs.jpg');
    background-position: right;
    background: cover;
    background-repeat: no-repeat;    
}
.section-Tian{
    background-image: url('img/Tian.png');
    background-position: center;
    background: cover;
    background-repeat: no-repeat;
}
.specs-display{
    background-color:rgba(0, 0, 0, 0.6);
    color:white;
    font-size: 1rem;
    padding:1rem;
    margin:2rem;
    border-radius:5%;
}
.section-contact{
    background-image:url('img/bkgnd_contact.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color:rgb(10, 10, 10);
}
.section-milestones{
    background-image:url('img/wallpaper_3.jpg');
}
/* styling section heading */
.heading{
    background-color: white;
    color:black;
    font-size:2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    align-content: center;
    margin: 1rem;

}

/* footer */
.myFooter{
    background-image: repeating-linear-gradient(rgb(0, 0, 0),rgb(0, 102, 0) 10%,rgb(153, 204, 0) 20%);
    color:rgb(228, 240, 10);
    height:5vh;
    line-height: 2rem;
}
 @media (min-width: 992px) {
    .mb-lg-3 {
         margin-bottom: 14rem;
    }
}
